**/__pycache__
**/.idea
**/.ipynb_checkpoints
/uta/ModelManagement/FMModel/openaikey.txt
/uta/ModelManagement/VisionModel/googleapikey.txt
local_test.py
.DS_Store
/uta/UIProcessing/GUI.py
/deprecated/
/old_test_data/
/uta/config.py
/data