**/__pycache__
**/.idea
**/.ipynb_checkpoints
/ModelManagement/FMModel/openaikey.txt
/ModelManagement/VisionModel/googleapikey.txt
local_test.py
.DS_Store
/UIProcessing/GUI.py
/deprecated/
/old_test_data/